{% extends "base.html" %}
{% load static %}
{% block title %}О компании{% endblock title %}
{% block content %}
<div class="container">
            <div class="about">
                <h2>О компнании</h2>
                <img src="{% static "images/image1.png" %}" alt="Company">
                <p>История Favorit Motors началась в 1994 году. За десятилетия Favorit стал одним из крупнейших
                    автомобильных холдингов в России и достойно представляет в качестве официального дилера более чем 15
                    марок.</p>
                <p>Группа компаний управляет автоцентрами по всей Москве и по праву считается автобизнесом с высшим
                    рейтингом надёжности. О нас довольно часто можно услышать: «Обычный автобизнес, только для людей!» Мы
                    дорожим подобной оценкой и сделали опыт общения клиента с нами уникальным. И главное, мы считаем
                    необходимым и правильным вести бизнес так, чтобы он приносил людям радость.</p>
            </div>
        </div>
{% endblock content %}