<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
                TESTdrive
            </div>
            <ul class="nav-main-menu">
                <li><a href="/">Главная</a></li>
                <li><a href="/about">О компнании</a></li>
                <li><a href="/testdrive">Тестдрайв</a></li>
            </ul>
        </div>
    </header>
    <main>
    {% block content %}{% endblock content %}
    </main>
</body>
</html>